@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,200;1,300&family=Roboto&display=swap");

body,
html {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  color: black;
}

.nav-container {
  background-color: rgb(233, 195, 29);
  padding: 2%;
  display: grid;
  place-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding-top: 2%;
  width: 100%;
  font-size: 18px;
  justify-content: space-evenly;
  font-family: "Josefin Sans", sans-serif;
}

.eddy-kid-container {
  display: grid;
  place-items: center;
  position: relative;
}

.eddy-kid {
  width: 30%;
  position: absolute;
  border-radius: 5%;
  box-shadow: 6px 6px teal;
}

.overlay {
  position: absolute;
  opacity: 0;
  width: 30%;
  height: 60%;
  transition: 0.5s ease;
  border-radius: 5%;
  background-color: rgb(233, 195, 29);
}

.container1 {
  display: grid;
  place-items: center;
}

.container1:hover .overlay {
  opacity: 70%;
}

.text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2vw;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

canvas {
  background-color: white;
}

.splash-container {
  height: 50vw;
  display: grid;
  place-items: center;
}

.learning-lib {
  padding: 10px;
  text-align: center;
  width: 100%;
}

.library-explainer {
  width: 90%;
  margin: 0 auto;
}

.learning-lib-container {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  gap: 20px;
}

.about-container {
  text-align: center;
  padding: 10px;
  width: 90%;
}

.about-text {
  margin: 5%;
}

.beach-pics {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.beachpic {
  width: 40%;
  border-radius: 5%;
  box-shadow: 6px 6px teal;
}

.beachpic-container {
  display: flex;
  padding: 10px;
  text-align: left;
  margin: 5%;
}

.beach-text {
  margin: 5%;
}

.chapbook-container {
  text-align: center;
  background-color: teal;
  height: 25vw;
  padding: 10px;
  width: 100%;
}

.footer-container {
  height: 15vw;
}

.lib-card {
  border-radius: 2%;
  border: 1px solid grey;
  width: 25vw;
  height: 10vw;
  box-shadow: 6px 6px teal;
  display: grid;
  place-items: left;
}

.resourceBtn {
  border: 1px grey;
  background-color: rgb(233, 195, 29);
  font-size: 1vw;
}

.resourceTxt {
  font-size: 1vw;
  padding-left: 10px;
  padding-right: 10px;
}

.headshot {
  display: grid;
  place-items: center;
}

.headshotImg {
  width: 30%;
  border-radius: 5%;
  box-shadow: 6px 6px teal;
}

/* iphones */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  #myCanvas {
    display: none;
  }

  .nav-list {
    display: inline;
    padding: 2%;
  }

  .eddy-kid {
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: 10%;
  }

  .overlay {
    width: 250px;
    height: 250px;
    margin-top: 8%;
  }

  .text {
    font-size: 18px;
  }

  .learning-lib-container {
    display: flex;
    flex-direction: column;
  }

  .lib-card {
    width: 90%;
    height: 150px;
    margin: 0 auto;
  }

  .resourceBtn {
    font-size: 18px;
  }
  .resourceTxt {
    font-size: 16px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
  }
  .nav-container {
    padding: 2%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #canvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  #myCanvas {
    display: none;
  }
  .nav-list {
    display: inline;
    padding: 2%;
  }
}
